.prose{z-index:inherit}.prose .header-anchor{display:inline-block;--tw-text-opacity: 1;color:rgba(156,163,175,var(--tw-text-opacity));text-decoration:none;left:-2rem;line-height:inherit;visibility:hidden}.prose h1,.prose h2,.prose h3,.prose h4{scroll-margin-top:80px;position:relative}.prose h1:hover .header-anchor,.prose h2:hover .header-anchor,.prose h3:hover .header-anchor,.prose h4:hover .header-anchor{visibility:visible}
